@use "sass:color";

// Body
$body-bg: #ffffff;

// Borders
$laravel-border-color: color.adjust($body-bg, $lightness: -10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Badge
$badge-font-size: 80%;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Helvetica", "Arial", sans-serif;
$font-size-base: 0.9rem;
$text-color: #636b6f;

// Colors
$primary: #007bff;
$success: #28a745;
$info: #17a2b8;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: color.adjust($text-color, $lightness: 40%);
$input-border-focus: color.adjust($brand-primary, $lightness: 25%);
$input-color-placeholder: color.adjust($text-color, $lightness: 30%);

// Panels
$panel-default-heading-bg: #fff;

// Font Awesome
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
